.sammelSubtitle {
	font-size: 14px !important;
	border-bottom: 1px solid currentColor !important;
	background-color: rgb(242, 242, 242) !important;
}
.sammelItem {
	font-weight: bold !important;
	width: 175px;
}

.sammelLabels {
	white-space: nowrap;
}

.sammelIcon {
	max-width: 64px;
	max-height: 64px;
	border-radius: 0%;
}
